<h1>Tweets/Conversations</h1>

<%# form_tag tweets_path, :method => 'get', class: "form-inline" %>
  <p>
    <div class="col-xs-4">
      <%= text_field :search, params[:search], class: "", :placeholder => "Search" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
    </div>
  </p>
<%# end %>
<br>
<table>
  <thead>
    <tr>
      <th>Tweets count = <%= @tweets.count %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweetdata %></td>
        <td><%#= link_to 'Show', tweet %></td>
        <td><%#= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%#= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @tweets, :container => false %>
  </div>
<%#= link_to 'New Tweet', new_tweet_path %>